.yangiAdabiyotlar {
  margin-bottom: 70px;
    .content {
      display: flex;
      align-items: flex-start;
      column-gap: 50px;
      width: 100%;
      .desc {
        width: 70%;
        h1 {
          color: var(--Teal-100, #081a1c);
          font-family: Inter;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%; /* 52.8px */
          letter-spacing: 0.2px;
          margin-bottom: 50px;
        }
        .row {
            display: flex;
            column-gap: 30px;
            flex-wrap: wrap;
            width: 100%;
            .cardss {
              width: 48%;
              border-radius: 12px;
              border: 1px solid var(--light-grayscale-light-gray-1, #ced9e0);
              background: var(--light-white, #fff);
              padding: 8px;
              margin-bottom: 30px;
              .name{
                color: #6c6c6c;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 149%; /* 23.84px */
                // text-transform: capitalize;
                span{
                  color: black;
                  font-family: Poppins;
                  font-size: 22px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 149%; /* 23.84px */
                  // text-transform: capitalize;
                }
              }
              .author{
                color: #6c6c6c;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 149%; /* 23.84px */
                // text-transform: capitalize;
                span{
                  color: black;
                  font-family: Poppins;
                  font-size: 22px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 149%; /* 23.84px */
                  // text-transform: capitalize;
                }
              }
              .date{
                color: #6c6c6c;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 149%; /* 23.84px */
                // text-transform: capitalize;
                span{
                  color: black;
                  font-family: Poppins;
                  font-size: 22px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 149%; /* 23.84px */
                  // text-transform: capitalize;
                }
              }
            }
          }
      }
      .layout {
        width: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
      }
    }
  }
  