.bolimlar {
    .content {
      display: flex;
      column-gap: 50px;
      width: 100%;
      margin-bottom: 150px;
      .desc {
        width: 70%;
        h1 {
          margin-bottom: 30px;
          font-weight: 600;
        }
        .row {
          width: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 40px;
          margin: 0px 0px 30px 0px;
  
          .cardss {
            width: 100%;
            padding: 20px;
            border-radius: 12px;
            background: var(--Cool-Gray-10, #eaeef5);
            box-shadow: 0px 2px 2px black;
            .title {
              color: rgb(4, 157, 157);
              font-family: Roboto;
              text-align: center;
              font-size: 25px;
              font-style: normal;
              font-weight: 600;
              line-height: 110%; /* 52.8px */
              letter-spacing: 0.2px;
              margin: 0px 0px 30px 0px;
              padding: 0;
            }
            p {
              margin: 0px 0px 0px 0px;
              padding: 0;
              color: var(--Cool-Gray-100, #121619);
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              text-align: justify;
              line-height: 140%; /* 28px */
            }
          }
        }
      }
      .layout {
        width: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
      }
    }
  }
  