.xalqaro {
    display: flex;
    column-gap: 50px;
    width: 100%;
    margin-bottom: 50px;
      .desc {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        .title{
            color: var(--Teal-100, #081A1C);
            font-family: Inter;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 52.8px */
            letter-spacing: 0.2px;
        }
        title,td{
            border: 1px solid #ccc;
        }
        .xalqaroTable{
            width: 100%;
            tr:nth-child(1){
                td{
                    font-size: 18px;
                    font-weight: 700;
                    text-align: center;
                }
                td:nth-child(2){
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                }
                td:nth-child(3){
                    font-size: 18px;
                    font-weight: 700;
                    color: black;
                }
            }
            tr{
                width: 100%;
                td:nth-child(1){
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    width: 5%;
                    padding: 0px 4px;
                }
                td:nth-child(2){
                    width: 30%;
                    padding: 10px 10px;
                    color: darkcyan;
                    font-size: 18px;
                    font-weight: 600;
                }
                td:nth-child(3){
                    width: 30%;
                    padding: 10px 10px;
                    color: var(--Cool-Gray-60, #697077);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;;
                }
                td:nth-child(4){
                    width: 20%;
                    height: 100px;
                    padding: 10px 10px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
      }
      .layout {
        width: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
      }
  }
  
