.fanlarBoyichaOquResurslarAll {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  padding: 0;
  .title {
    color: var(--Teal-100, #081a1c);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 52.8px */
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  .content {
    display: flex;
    column-gap: 25px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 100px;
    .sidebarFan {
      width: 30%;
      border-radius: 10px;
      border: 0.5px solid #999;
      background: #fff;
      padding: 20px 10px;
      form {
        width: 100%;
        margin-bottom: 20px;
        input {
          width: 100%;
          height: 50px;
          padding: 0px 10px;
          border-radius: 12px;
          border: 1px solid #999;
          background: #fff;
          outline: none;
        }
      }
      .question {
        border-top: 1px solid #ccc;
        width: 100%;
        padding: 10px 0px;
        .header {
          padding: 0;
          margin: 0;
          display: flex !important;
          justify-content: space-between;
          align-items: center;
          .title {
            margin: 0;
            padding: 0;
            color: #333;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 900;
            line-height: 149%; /* 23.84px */
            text-transform: capitalize;
          }
          .btn {
            border: 1px solid #ccc;
            &:hover {
              background-color: #e1dede;
            }
          }
          .btn.active {
            color: red;
          }
        }
        .list {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          margin-top: 10px;
          margin-left: 10px;
          .item {
            a {
              text-decoration: none;
              display: flex;
              align-items: center;
              column-gap: 7px;
              margin: 0;
              padding: 0;
              p {
                padding: 0;
                margin: 0;
                color: var(--Gray-1, #333);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 149%; /* 23.84px */
                &:hover {
                  color: rgb(49, 49, 202);
                }
              }
            }
          }
        }
      }
    }
    .cardsBlok {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      align-items: flex-start;
      .cardss {
        text-decoration: none;
        border-radius: 20px;
        border: 2px solid rgba(50, 52, 101, 0.5);
        background: #fff;
        padding: 10px;
        width: 31.8%;
        margin-bottom: 20px;
        .imgBlok {
          width: 100%;
          height: 200px;
          margin-bottom: 15px;
          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          margin: 0px 0px 8px;
          color: var(--Gray-1, #333);
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 149%; /* 23.84px */
          text-transform: uppercase;
        }
        p {
          margin: 0;
          color: rgba(51, 51, 51, 0.8);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 21px */
        }
      }
    }
  }
}
