.royxatdanOtishContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  .royxatdanOtishModal {
    position: relative;
    top: 0;
    left: 0;
    width: 450px;
    border-radius: 15px;
    background: var(--white_full, #fff);
    box-shadow: 0px 10px 30px 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    animation: modal 0.5s ease;

    .closeBtn {
      position: absolute;
      top: 15px;
      right: 20px;
      color: #aba9a9;
      font-size: 25px;
      cursor: pointer;
    }
    h1 {
      padding: 0;
      margin: 0;
      color: var(--Gray-1, #333);
      font-family: Montserrat;
      font-size: 26px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%; /* 36px */
      margin-bottom: 40px;
      margin-top: 20px;
      text-align: center;
    }
    form {
      width: 100%;
      margin-bottom: 25px;
      .username {
        background: none;
        border: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 5px 0px;
        font-size: 20px;
        outline: none;
        border-bottom: 2px solid #ccc;
        &::placeholder {
          color: var(--gray_6, #666);
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: 0.16px;
        }
      }
      .email {
        background: none;
        border: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 5px 0px;
        font-size: 20px;
        outline: none;
        border-bottom: 2px solid #ccc;
        &::placeholder {
          color: var(--gray_6, #666);
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: 0.16px;
        }
      }
      .password {
        background: none;
        border: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 5px 0px;
        font-size: 20px;
        outline: none;
        border-bottom: 2px solid #ccc;
        &::placeholder {
          color: var(--gray_6, #666);
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: 0.16px;
        }
      }
      .passwordQayta {
        background: none;
        border: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 5px 0px;
        font-size: 20px;
        outline: none;
        border-bottom: 2px solid #ccc;
        &::placeholder {
          color: var(--gray_6, #666);
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 24px */
          letter-spacing: 0.16px;
        }
      }
      .error{
        border-radius: 3px;
        background-color: rgb(172, 43, 43);
        padding: 10px 10px;
        margin-bottom: 30px;
        p{
          padding: 0;
          margin: 0;
          color: white;
        }
      }
      .royxatdanOtishBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        button {
          width: 100%;
          border: none;
          padding: 25px 10px;
          color: #fff;
          font-family: Raleway;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.16px;
          border-radius: 150px;
          background: #091242;
          box-shadow: 0px 4px 15px 0px rgba(161, 203, 68, 0.2);
        }
      }
    }
    .loginToRoyxatdanOtish {
      text-decoration: none;
      text-align: center;
      color: var(--Gray-1, #333);
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
      &:hover {
        color: #091242;
      }
    }
  }
}

@keyframes modal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
