.home {
  display: flex;
  flex-direction: column;
  .boshSahifa{
    width: 100%;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
    margin-bottom: 50px;
    padding: 0;
    .content{
      width: 70%;
      display: flex;
      flex-direction: column;
    }
    .news{
      width: 100%;
      margin-bottom: 80px;
      h2{
        margin-bottom: 30px;
      }
      .rows{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 30px;
       .cardss{
        color: black;
        text-decoration: none;
        width: 48%;
        border-bottom: 1px solid  #ccc;
        margin-bottom: 30px;
        display: flex;
        column-gap: 10px;
        padding-bottom: 10px;
        .imgBlok{
          width: 40%;
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .desc{
          width: 60%;
          .date{
            display: flex;
            column-gap: 15px;
            margin-bottom: 3px;
            color: #091242;
            font-weight: 500;
          }
          p{
            font-weight: 500;
            padding: 0;
            margin: 0;
          }
        }
       }
      }
    }
    .videos{
      width: 100%;
      h2{
        margin-bottom: 30px;
      }
      .rows{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
       .cardss{
        color: black;
        text-decoration: none;
        width: 48%;
        border-bottom: 1px solid  #ccc;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding-bottom: 10px;
        .videoBlok{
          width: 100%;
          height: 250px;
          .reactPlayer{
            width: 100% !important;
            height: 100% !important;
            // border-radius: 10px;
           
          }
        }
        .desc{
          padding: 0px 10px;
          width: 100%;
          .date{
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
            margin-bottom: 3px;
            span{
              color: #091242;
              font-weight: 500;
            }
          }
          p{
            font-weight: 500;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
          }
        }
       }
      }
    }
    .homeSidebar{
      width: 30%;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
    }
  }
  .kursAmalgaOshish {
    padding: 50px 0px;
    background: #f4f4f4;
    margin-bottom: 50px;
    .kurs {
      display: flex;
      column-gap: 40px;
      align-items: flex-start;
      .desc {
        width: 70%;
        .title {
          color: #1c1f35;
          font-family: Rubik;
          font-size: 35px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 40px;
        }
        .accordion {
          width: 100%;
          .accordion-button {
            color: #1c1f35;
            font-family: Rubik;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .accordion-body {
            color: #666c89;
            font-family: Krub;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 151.523%; /* 24.244px */
          }
        }
      }
      .contactCard {
        width: 30%;
        background: #091242;
        padding: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .linkEmail {
          color: #fff;
          font-family: Rubik;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 125%; /* 22.5px */
          margin: 0;
          border-left: 3px solid orange;
          padding-left: 5px;
        }
        h1 {
          color: #fff;
          font-family: Rubik;
          font-size: 25px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          // text-transform: uppercase;
        }
        .tel {
          display: flex;
          column-gap: 15px;
          align-items: center;
          p {
            margin: 0;
            color: #fff;
            font-family: Rubik;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; /* 22.5px */
          }
        }
        .btn {
          display: flex;
          justify-content: end;
          a {
            margin-top: 20px;
            text-decoration: none;
            padding: 10px 20px;
            color: #23212a;
            font-family: Krub;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 135.023%; /* 21.604px */
            background-color: orange;
            width: 130px;
            &:hover {
              background-color: rgb(241, 160, 11);
            }
          }
        }
      }
    }
  }
  // .videoDarslik {
  //   display: flex;
  //   justify-content: space-between;
  //   align-content: flex-start;
  //   column-gap: 50px;
  //   margin-bottom: 100px;
  //   width: 100%;
  //   .video {
  //     width: 40%;
  //     iFrame {
  //       height: 100%;
  //       width: 100%;
  //       object-fit: cover;
  //     }
  //   }
  //   .videoDesc {
  //     width: 50%;
  //     .title {
  //       color: #1c1f35;
  //       font-family: Lato;
  //       font-size: 36px;
  //       font-style: normal;
  //       font-weight: 600;
  //       line-height: normal;
  //       margin-bottom: 20px;
  //     }
  //     p {
  //       color: #1c1f35;
  //       text-align: justify;
  //       font-family: Lato;
  //       font-size: 16px;
  //       font-style: normal;
  //       font-weight: 400;
  //       line-height: 140%; /* 19.6px */
  //       margin-bottom: 20px;
  //     }
  //     .row {
  //       display: flex;
  //       column-gap: 20px;
  //       .col {
  //         display: flex;
  //         flex-direction: column;
  //         row-gap: 30px;
  //         .item {
  //           display: flex;
  //           align-items: center;
  //           column-gap: 20px;
  //           a {
  //             text-decoration: none;
  //             h5 {
  //               color: #1c1f35;
  //               margin: 0;
  //               font-family: Montserrat;
  //               font-size: 18px;
  //               font-style: normal;
  //               font-weight: 700;
  //               line-height: 24px; /* 150% */
  //               letter-spacing: 0.1px;
  //             }
  //             p {
  //               color: #1c1f35;
  //               margin: 0;
  //               font-family: Montserrat;
  //               font-size: 14px;
  //               font-style: normal;
  //               font-weight: 500;
  //               line-height: 24px; /* 171.429% */
  //               letter-spacing: 0.2px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
